html, * {
    box-sizing: border-box;
}

button, input {
    border: none;
}

#main-window {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
}

#sidebar {
    background: yellow;
    display: grid;
    grid-template-rows: 1fr 4fr 2fr;
}

#logo {
    margin-top: 30px;
    align-self: start;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
    place-items: center;
}

#logo-icon {
    font-size: 48px;
    justify-self: end;
}

#title {
    font-size: 2rem;
    justify-self: start;
}

.sidebar-nav-icon {
    justify-self: end;
    font-size: 24px;
}

.sidebar-nav a {
    text-decoration: none;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    font-size: 1.5rem;
    gap: 1rem;
    padding: 0.75rem 0;
}

#nav-section1 {
    align-self: start;
}

#nav-section2 {
    align-self: end;
    padding-bottom: 30px;
}

#content {
    background: green;
    display: grid;
    grid-template-rows: 170px 1fr;
}

#content-header-wrapper {
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
    align-items: center;
    padding: 1rem 6rem 1rem 3rem;
    margin: 0;
}

#search-wrapper {  
    display: flex;
    gap: 1rem;
}

#search-form {
    flex: 1;
    display: flex;
}

#searchbar {
    flex: 1;
    padding: 0.5rem;
    align-self: center;
    border-radius: 15px;
}

.search-icon {
    justify-self: end;
    align-self: center;
}

#user-wrapper {
    display: grid;
    justify-self: end;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    gap: 2rem;
}

#username-display-small {
    font-size: 1.4rem;
}

.notification-icon {
    font-size: 24px;
    justify-self: end;
}

.profile-pic-small {
    width: auto;
    max-height: 48px;
    border-radius: 100%;
}

#welcome-wrapper {
    display: grid;
    grid-template-columns: fit-content(100%) 1fr;
    gap: 1.5rem;
    align-items: center;
}

#greeting-text {
    font-weight: 700;
}

#username-display-large {
    font-size: 2rem;
    font-weight: 700;
}

.profile-pic-large {
    width: auto;
    max-height: 72px;
    border-radius: 100%;
}

#header-tool-wrapper {
    justify-self: end;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
}

#header-tool-wrapper button {
    padding: 0.75rem 1.5rem;
    border-radius: 50px;
}

#content-main {
    background: lightseagreen;
}

#content-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "projects announcements"
    "projects trending";

}

#projects {
    background: lightsalmon;
    padding: 2rem;
    grid-area: projects;
}

#content-main h2 {
    font-size: 1.4rem;
    margin-bottom: 15px;
}

#card-wrapper {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
}

.card {
    padding: 0px 25px;
    height: 100%;
    background: lightgray;
    display: grid;
    grid-template-rows: 3rem min-content 1fr;
}

.card-title {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 700;
}

.card-text {
    line-height: 1.3;
    padding-top: 5px;
    margin-bottom: 15px;
}

.card-icon-container {
    align-self: end;
    justify-self: end;
    display: flex;
    gap: 1rem;
    margin-bottom: 15px;
    padding-right: 15px;
}

#announcements {
    background: lightgoldenrodyellow;
    grid-area: announcements;
    padding: 2rem;
}

#trending {
    background: lightpink;
    grid-area: trending;
    padding: 2rem;
}

#announcements-card {
    background: rebeccapurple;
    display: grid;
    grid-template-rows: 1fr 3px 1fr 3px 1fr;
    padding: 2rem;
}

.announcement-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.announcement {
    padding: 10px 0;
}

.separator {
    background: white;
    height: 1px;
    opacity: 35%;
}